# Python Data Types
- Data types in Python define the kind of value a variable can hold and the operations that can be performed on it.
- Variables can store data of different types, and different types can do different things.
- Pyhton has various Built-in data types.
### Data Type Examples
- Text Type      ==> str
- Numeric Types  ==> int, float, complex
- Sequence Types ==> list, tuple, range
- Mapping Type   ==> dict
- Set Types      ==> set, frozenset
- Boolen type    ==> bool

# Numeric Types in Python
#### The numeric data type in Python represents the data that has a numeric value. A numeric value can be an integer, a floating number, or even a complex number. These values are defined as Python int, Python float, and Python complex classes in Python

- Integers – This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals). In Python, there is no limit to how long an integer value can be.
* Float – This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.
* Complex Numbers – A complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j
Note – type() function is used to determine the type of Python data type.

# Type( ) function

  - type() function is used to return the class type of parameter.

In [16]:
x = 10
y = 2.9099
z = 2j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#### int

In [29]:
#EXAMPLES FOR INT
x = 11+12
y = 12-11
z = 1*3
a = 100*2-1
b = 200+100-100
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

#### float

In [33]:
#EXAMPLES FOR FLOAT
x = 122.22+12.2222
y = 2-11.2
z = 1*3.66
a = 100/100
b = 200+100-100.22
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

#### complex

In [35]:
#EXAMPLES FOR COMPLEX
X = 2+3J
Y = 0+0J
Z = 0.55+2.22J
A = 88-12J
B = 2.22+12J
print(type(X))
print(type(Y))
print(type(Z))
print(type(A))
print(type(B))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion in Python
- We can convert from one type to another with the int() , float() and complex() method.
- note :- you cannot convert complex number into another number type

In [56]:
#converting int to float
x = 11+12
y = 12-11
z = 1*3
a = 100*2-1
b = 200+100-100
c = 987654321
d = 10+10-10*10+10
e = 12345
f = 100*100
g = -100-1200
# using float()
A = float(x) 
B = float(y)
C = float(z)
D = float(a)
E = float(b)
F = float(c)
G = float(d)
H = float(e)
I = float(f)
J = float(g)

print(A)
print(B)
print(C)
print(D)
print(E)
print(F)
print(G)
print(H)
print(I)
print(J)

23.0
1.0
3.0
199.0
200.0
987654321.0
-70.0
12345.0
10000.0
-1300.0

In [58]:
#converting float to int
a = 23.0
b = 1.0
c = 3.0
d = 199.0
e = 200.0
f = 987654321.0
h = -70.0
i = 12345.0
j = 10000.0
k = -1300.0

A = int(a)
B = int(b)
C = int(c)
D = int(d)
E = int(e)
F = int(f)
G = int(g)
H = int(h)
I = int(i)
J = int(j)
K = int(k)

print(A)
print(B)
print(C)
print(D)
print(E)
print(F)
print(G)
print(H)
print(I)
print(J)

23
1
3
199
200
987654321
-1300
-70
12345
10000

In [60]:
#CONVERTING  COMPLEX TO INT/FLOAT
X = 2+3J
Y = 0+0J
A = int(X)
print(A)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [62]:
B = float(Y)
print(B)

TypeError: float() argument must be a string or a real number, not 'complex'

# Python Boolean's
- Booleans in Python are a data type that represents one of two values : True or False.
- They are fundamental for decision-making and controlling the flow of your program.
- any string return true,except empty string("").
- any number returns true,except 0
- any list,tuple,set return true,except empty set ones [](){}.

In [19]:
#example
print(15 > 9)
print(13 == 9)
print(1>1)

True
False
False

In [21]:
#10 examples
bool( )
print(bool())

False

In [25]:
bool("")
print(bool(""))

False

In [27]:
bool("vinod")
print(bool("vinod")

True

In [29]:
bool(0)
print(bool(0))

False

In [31]:
bool(99)
print(bool(99))

True

In [33]:
bool([])
print(bool([]))

False

In [35]:
bool({})
print(bool({}))

False

In [37]:
bool([1,2,3,4,5,6,])
print(bool([1,2,3,4,5,6,]))

True

In [39]:
bool({99,22,44,55})
print(bool({99,22,44,55}))

True

In [41]:
bool(19*19)
print(bool(19*19))

True

In [43]:
bool(1)
print(bool(1))

True

In [45]:
print(20*20 == 10*40)

True