# PYTHON STRING

- There are various ways to define strings in Python - namely single quotes ('), double quotes ("), and triple quotes (''' or """).
- Strings in Python are immutable, which means once a string is created it retains its original content and cannot be changed.
- It is essentially a series of letters, numbers, symbols, or spaces enclosed in quotes.
- Strings are one of the most commonly used data types, and they are used to represent text.
- However, you can perform various operations and use methods to manipulate and word with strings.

In [4]:
#EXAMPLE
str1 = "Hello, World!"
str2 = 'Python Programming'
str3 = """This is a multi-line
string in Python."""
print(str3)
print(type(str1))
print(type(str2))
print(type(str3))

This is a multi-line
string in Python.
<class 'str'>
<class 'str'>
<class 'str'>

# STRING OPERATIONS

Python allows various operations on strings that make it easy to manipulate and work with textual data. Here are some common string operations:

###  1 .  CONCATENATION

Comnbining two or more strings

In [13]:
#EXAMPLE
str1 = "Hello"
str2 = "World!"
result = str1 + " " + str2
print(result)

Hello World!

### 2 . REPETITION

Repeating a string multiple times.

In [17]:
text = "python "
result = text * 12
print(result)

python python python python python python python python python python python python

### 3 . INDEXING

In [24]:
my_string = "python is fun and enjoy."
print(my_string[0])
print(my_string[-2])
print(my_string[-8])
print(my_string[11])

p
y
d
u

### 4 . SLICING

Extracting a substring from a string

In [28]:
str1="hello , world!"
print(str1[2:4])
print(str1[0:3])

ll
hel

# PYHON - FORMAT - STRING

### 1. Old Style Formatting

Uses % operator and palceholder.

In [33]:
# EXAMPLES
name = "VINOD GOUD"
age = 21
BIO = " My name is %s and I am %d years old. " %(name,age)
print(BIO)

 My name is VINOD GOUD and I am 21 years old.

### 2. FORMAT METHOD

Uses the format{} method with placeholder

In [41]:
name = "vinodgoud"
age = 21
formatted_string = "My name is {} and I am {} years old.".format(name,age)
print(formatted_string)

My name is vinodgoud and I am 21 years old.

### 3.  STRING INTERPOLATION (F- STRING)

Use f-strings,where expressions inside curly braces {} are evaluated and replaced.

In [52]:
name = "vinodgoud"
age = 21
print(f"My name is {name} and I am {age} years old.")

My name is vinodgoud and I am 21 years old.

# STRING METHODS

- Python has a set of built - in methods that we can use on strings.
All string methods return new values they do not change the original string.

### 1.  len():
Returns the length of the string

In [63]:
# Example program
string = "Python is fun"
length = len(string)
print(length)

13

### 2.lower():
Converts the string to lower case

In [73]:
#example
string = "VINODGOUD"
print(string.lower())

vinodgoud

### 3.upper():
Converts the string to upper case

In [77]:
#example
string = "vinodgoud"
print(string.upper())

VINODGOUD

### 4.strip():
Remove leading and trailing whitespaces

In [80]:
#example
string = "  python  "
print(string.strip())

python

### 5.replace():
Replaces a substring with another substring.

In [88]:
#example
str1 = "Hello world!"
str2 = str1.replace("world","python")
print(str2)

Hello python!

### 6.split():
Split the string into a list of substrings.

In [90]:
#example
str= "python is fun"
print(str.split())

['python', 'is', 'fun']

### 7.join():
Join's a list of string into a single string.

In [97]:
#example
sentence = ['python', 'is', 'fun']
print(' '.join(sentence))

python is fun

### 8.capitalize():
The capitalize() method returns a string where the first character is upper case, and the rest is lower case.

In [102]:
#example
str = "hello, my name is vinod."
x = str.capitalize()

print (x)

Hello, my name is vinod.

### 9.casefold():
The casefold() method returns a string where all the characters are lower case.

In [109]:
#example
str = "HELLO, welcome to my world"
x = str.casefold()

print(x)

hello, welcome to my world

### 10.center():
The center() method will center align the string, using a specified character (space is default) as the fill character.

In [115]:
#example
word="arjun"
cen = word.center(50)

print(cen)

                      arjun

### 11.count():
The count() method returns the number of times a specified value appears in the string.

In [120]:
#example 
sentence = "raju is a goodboy "
x=sentence.count("o")
print(x)

3

### 12. endswith():
The endswith() method returns True if the string ends with the specified value, otherwise False.

In [128]:
#example
str = "there is a good boy , where that boy was he , he ran away to market , the people there to see" 
x= str.endswith("boy")
y= str.endswith("see")
print(x)
print(y)

False
True

### 13.find():
Searches the string for a specified value and returns the position of where it was found.

In [136]:
#example
str = "there is a good boy , where that boy was he , he ran away to market , the people there to see" 
x= str.find("b")
print(x)

13

### 14.translate():
Returns a translated string.

In [157]:
#example 
sent = "hello raju"
x = str.maketrans("r","R")
print(sent.translate(x))

hello Raju

### 15. isalnum():
The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

In [160]:
#example
word = "vinodgoud8702"
z = word.isalnum()
print()

True

In [162]:
#example
word = "vinodgoud8702@gmail.com"
x = word.isalnum()
print(x)

False

### 16. isalpha():
The isalpha() method returns True if all the characters are alphabet letters (a-z).

In [167]:
#example
word = "vinodgoud"
y = word.isalpha()
print(y)

True

In [169]:
#example
sent ="vinod8702"
z=sent.isalpha()
print(z)

False

### 17.isdigit():
The isdigit() method returns True if all the characters are digits, otherwise False.

In [172]:
num = "123687654"
print(num.isdigit())

True

In [174]:
text = "vinod"
print(text.isdigit())

False

### 18. isspace():
The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

In [180]:
word = "    "
x = word.isspace()

print(x)

True

### 19.title()
Converts the first character of each word to upper case

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

In [183]:
txt = "Welcome to my world"
x = txt.title()

print(x)

Welcome To My World

### 20. zfill():
Fills the string with a specified number of 0 values at the beginning.
- Syntax
string.zfill(len)

In [194]:
#example
word = "vinnu"
print(word.zfill(10))

00000vinnu

### 21. swapcase():
The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [198]:
#example
sentence = "hello world , my name is vinod"
z= sentence.swapcase()
print(z)

HELLO WORLD , MY NAME IS VINOD

In [203]:
#example
sent = "Hello World , My Name Is Vinod"
z= sent.swapcase()
print(z)

hELLO wORLD , mY nAME iS vINOD

### 22.title():
The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

In [205]:
#example
word = "begin again , never give up"
title = word.title()
print(title)

Begin Again , Never Give Up

### 23. lstrip():
The lstrip() method removes any leading characters (space is the default leading character to remove)

In [220]:
#example
txt = ".,.,';   ..arjun     "

x = txt.lstrip(",'.; ")

print(x)

arjun

### 24. ljust():
The ljust() method will left align the string, using a specified character (space is default) as the fill ch- aracter.

In [225]:
#example
word = "vinu"

x = word.ljust(5, "u")

print(x)

vinuu

### 25.istitle():
The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [228]:
#example
sent = "Welcome To My World"
print(sent.istitle())

True

### 26. isprintable():
The isprintable() method returns True if all the characters are printable, otherwise False.

In [1]:
#example
text = "Hello, world!"
print(text.isprintable())
text = "\t"
print(text.isprintable())
text = " \n"
print(text.isprintable())

True
False
False

### 27. partition():

- The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
- The first element contains the part before the specified string.
- The second element contains the specified string.
- The third element contains the part after the string.

In [4]:
#example
txt = "i go to gym everyday"
x = txt.partition("running")
print(x)

('i go to gym everyday', '', '')

### 28. startswith():
The startswith() method returns True if the string starts with the specified value, otherwise False.

In [7]:
#example
txt = "hello, my name is vinod"

x = txt.startswith("hell", 7, 20)

print(x)

False

### 29. swapcase():
The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [10]:
#example
txt = "Hello My Name Is vinod"

x = txt.swapcase()

print(x)

hELLO mY nAME iS VINOD

### 30. isidentifier():
The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [25]:
#example
a = "ISidentifier"
b = " vinod8702"
c = "2singers"
d = "_work_"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
False
False
True