# PYTHON TUPLE

- Tuples are used to store multiple items in a single variable.
- A tuple is a data type that represents an orderd, immutable(unchangeable) sequence of elements.
- Tuples are similar to Lists, but the key difference is that tuples cannot be modified once they are created
- They are defined using parantheses ( ) and elements are seperated by commas (,). ets.

### Features of Python Tuple

- Tuples are immutable data type, meaning their elements cannot be changed after they are generated.
- Each element in a tuple has a specific order that will never change because tuples are orderd sequences.

## Creating a Tuple

In [14]:
empty_tuple = ()
fruits = ("apple", "banana", "orange")
print(type(empty_tuple))
print(fruits)
print(type(fruits))

<class 'tuple'>
('apple', 'banana', 'orange')
<class 'tuple'>

In [16]:
mixed_tuple = (1,"apple",3.14,True)
mixed_tuple

(1, 'apple', 3.14, True)

In [18]:
single_element_tuple = (42,)
print(type(single_element_tuple))

<class 'tuple'>

In [20]:
single_element_tuple = 42

## Accessing of Tuples

Tuple support indexing and slicing, just like lists

In [25]:
fruits = ("apple","banana","orange")
print(fruits[0])
print(fruits[0:7])

apple
('apple', 'banana', 'orange')

In [27]:
fruits = ("apple","banana","orange")
print(fruits[-1])
print(fruits[-3:-1])

orange
('apple', 'banana')

## Immutability

Once a tuple is created, you cannot change its element or add/remove elements

In [31]:
fruits = ("apple","banana","orange")
fruits[2] = "water"
print(fruits)

TypeError: 'tuple' object does not support item assignment

# Tuple Operations
- Concatenation- 
Repetition

#### 1. Concatenation

In [36]:
#Combing two tuples

tuple1 = (1,2,3)
tuple2 = ('a','b','c')
result = tuple1 + tuple2
print(result)

(1, 2, 3, 'a', 'b', 'c')

#### 2. Repetition

In [40]:
# Repeting a tuple

tuple1 = (1,2,3)
result = tuple1 * 20
print(result)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

# Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [43]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Add items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

 1.   Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [48]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
2

2

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [55]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Remove items
Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [58]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

# Tuple Methods
- Python has two built-in methods that you can use on tuples.
- Tuples have limited methods compared to list due to their immutability


Method	    Description
'index' 	Returns the index of the first occurrence of a specified value.
'count'	    Returns the number of occurrences of a specified value in the tuple.

### count( ):
- Returns the number of occurances of a specified value
- The count() method returns the number of times a specified value appears in the tuple.

## Syntax
tuple.count(value)

In [69]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)

print(x)

2

In [71]:
string_tuple = ('apple', 'banana', 'apple', 'cherry')
count_of_apple = string_tuple.count('apple')
print(count_of_apple)

2

## index( ):
- The index() method finds the first occurrence of the specified value.
- The index() method raises an exception if the value is not found.
- Returns the index of the first occurance of a specified value.
## Syntax
- tuple.index(value)

In [74]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)

print(x)

3

In [76]:
numbers = (1,2,5,3,4,5,7)
index_of_3 = numbers.index(7)
print(index_of_3)

6