# VALID VARIABLES

In [22]:
name = "Vinodgoud"  
age = 20  
marks = 83.5
city = "hyderabad"
college = " Government degree college "
is_student = True
fruits = [ "orange", "cherry","mango", " banana" ]
result = None
total = 5 + 7 * 2
data_analyst = { "sql" , "power BI", "Advance excel", "statistics", "pythion" }
family = [ " vinod ", "kumar", "radha", "raji" ]
list_courses = { "data science " , "java" , "python","digital marketing", "AWS","AI","DEVOOPS" }
set_favnumbers = { 8,7,2,3,31,12,2 }
collegeaddress = "Khairatabad"
personal_info = [ "vinod", " 20" , "5.5","hyderabad" ]
marks100 = 80
percentage =  90
_mobile_number = 9876543210
my_academy= "teksacademy"
_My_BIKE_2 = "hero"

print(name)
print(age)
print(marks)
print(city)
print(college)
print(is_student)
print(fruits)
print(result)
print(total)
print(data_analyst)
print(family)
print(list_courses)
print(set_favnumbers)
print(collegeaddress)
print(personal_info)
print(marks100)
print(percentage)
print(_mobile_number)
print(my_academy)
print(_My_BIKE_2)

Vinodgoud
20
83.5
hyderabad
 Government degree college
True
['orange', 'cherry', 'mango', ' banana']
None
19
{'pythion', 'sql', 'power BI', 'Advance excel', 'statistics'}
[' vinod ', 'kumar', 'radha', 'raji']
{'python', 'AWS', 'data science ', 'java', 'DEVOOPS', 'digital marketing', 'AI'}
{2, 3, 7, 8, 12, 31}
Khairatabad
['vinod', ' 20', '5.5', 'hyderabad']
80
90
9876543210
teksacademy
hero

# INVALID VARIABLES

In [29]:
1name = "Vinodgoud"  
=age = 20  
100marks = 83.5
@city = "hyderabad"
--college = " Government degree college "
$is_student = True
5 fruits = [ "orange", "cherry","mango", " banana" ]
%result = None
+total = 5 + 7 * 2
*data_analyst = { "sql" , "power BI", "Advance excel", "statistics", "pythion" }
$family = [ " vinod ", "kumar", "radha", "raji" ]
class = { "data science " , "java" , "python","digital marketing", "AWS","AI","DEVOOPS" }
7 set_favnumbers = { 8,7,2,3,31,12,2 }
>collegeaddress = "Khairatabad"
/printpersonal_info = [ "vinod", " 20" , "5.5","hyderabad" ]
1marks100 = 80
%percentage =  90
1323_mobile_number = 9876543210
'my_academy= "teksacademy"
1_My_BIKE_2 = "hero"

print(name)
print(age)
print(marks)
print(city)
print(college)
print(is_student)
print(fruits)
print(result)
print(total)
print(data_analyst)
print(family)
print(list_courses)
print(set_favnumbers)
print(collegeaddress)
print(personal_info)
print(marks100)
print(percentage)
print(_mobile_number)
print(my_academy)
print(_My_BIKE_2)

SyntaxError: invalid decimal literal (2007675286.py, line 1)