# PYTHON VARIABLES

- Python variables is containers that store values.
- python is not "statically typed.
- Python uses dynamic typing, so you donâ€™t need to declare the type of the variable beforehand.
- You can create a variable by simply assigning a value to a name using the  '=' operator.

### RULES

- The variable's first character must be an underscore or alphabet (_).
- Every one of the characters with the exception of the main person might be a letter set of lower-case(a-z), capitalized (A-Z), highlight, or digit (0-9).
- White space and special characters (!, @, #, %, etc.) are not allowed in the identifier name. ^, &, *).
- Identifier name should not be like any watchword characterized in the language.
- Names of identifiers are case-sensitive; for instance, my name, and MyName isn't something very similar.
- Examples of valid identifiers: a123, _n, n_9, etc.
- Examples of invalid identifiers: 1a, n%4, n 9, etc.

In [16]:
# EXAMPLE VALID VARIABLES
x = 5          # An integer
name = "John"  # A string
price = 19.99  # A float
is_active = True  # A boolean

print(x)
print(name)
print(price)
print(is_active)

5
John
19.99
True

In [18]:
# EXAMPLES FOR INVALID VARAIABLES
@X = 5
1_name = "vinod"
$price = 20.22
is_active = false

SyntaxError: invalid decimal literal (2320454895.py, line 3)

# multiple variable

#### many values to multiple variables

- Python allows you to assign values to multiple variables in one line:

In [16]:
x, y, z = "vinod", "pavan", "Cherry"
print(x)
print(y)
print(z)

vinod
pavan
Cherry

#### one value to multiple variables

- And you can assign the same value to multiple variables in one line:

In [14]:
x = y = z = "vinod"
print(x)
print(y)
print(z)

vinod
vinod
vinod